<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>

<audio id="audio_player" controls style="width:100%;height:100%;"  width="100%" height="100%">

<% if document['streaming'].nil? %>
  <source src="<%= document['filepath'] %>" type="audio/mp3">
<% else %>
  <source src="<%= document['streaming'] %>" type="audio/mp3">
<% end %>

  <p>Your browser doesn't support HTML5 audio. Here is
     a <a href="myAudio.mp4">link to the audio</a> instead.</p>
</audio>
<script>
	$('#audio_player').mediaelementplayer({
		success: function(mediaElement, originalNode, instance) {
		}
	});
</script>

<br />

<% pdf = document['alternative-files'].select{|s| s.include?(".pdf")}.join %>
<embed src="<%= pdf %>" type="application/pdf" width="100%" height="800px" /><br />

<br />

<dl class="row dl-invert document-metadata">
  <% document_show_fields(document).each do |field_name, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= field_name.parameterize %> col-md-3"><%= render_document_show_field_label document, field: field_name %></dt>
	    <dd class="blacklight-<%= field_name.parameterize %> col-md-9"><%= doc_presenter.field_value field_name %></dd>
    <% end -%>
  <% end -%>
</dl>
