<!DOCTYPE html>
<html>
  <head>

    <title>Bl7</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
<%= favicon_link_tag asset_path('favicon-200x200.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
